# EMPLOYEE DATA LIST 2021

THE FOLLOWING DATA WILL SHOW EMPLOYEE RECORDINGS AND ALSO GIVE THE OPTION TO PROVIDE USER TO GIVE THERE OWN DATA.

In [7]:
employees = 9

In [8]:
employees

9

In [9]:
import pandas as pd

In [15]:
import os
os.getcwd()

'C:\\Users\\HP'

In [17]:
empdata1= pd.read_excel('empdata1.xlsx')

In [18]:
empdata1

,Employees name,empid,Branch,location,Dept.,emp.Retency,Salary(P.A),Bonus yearly,wage rate/day
0,Abhishek kumar,2245,H.O,Jamshedpur,Sales,5yrs,250000,yes,694.43
1,Akshat mehta,2246,R.O,Jamshedpur,Marketing,6yrs,255000,yes,708.33
2,rahul singh,2247,H.O,Delhi,project mgmt,2yrs,350000,yes,972.20
3,Akshat mehta,2217,D.O,Mumbai,production,9yrs,300000,yes,833.33
4,Arpita kumari,2125,H.O,Lucknow,procurement,7yrs,400000,yes,1111.10
5,Anand sethi,2128,D.O,Delhi,Sales,1yrs,250000,yes,694.43
6,Akshita singh,2129,H.O,Delhi,Marketing,2yrs,255000,yes,708.33
7,Abhi bhatt,2321,D.O,kolkata,procurement,4yrs,400000,yes,1111.10
8,saurav kuamr,2350,D.O,Kolkata,project mgmt,5yrs,350000,yes,972.22
9,NaN,9,NaN,NaN,NaN,NaN,2810000,NaN,7805.47

In [19]:
empdata1 =input("Enter the name of the employee from above list")

Enter the name of the employee from above listAnand sethi

In [22]:
empdata1

'Anand sethi'

In [23]:
# run this input  for multiple users/employees.

In [31]:
employee1list = ["Abhishek kumar",2245,'H.O','Jamshedpur','sales',5.0,250000,'yes',694.43]

In [32]:
employee1list

['Abhishek kumar',
 2245,
 'H.O',
 'Jamshedpur',
 'sales',
 5.0,
 250000,
 'yes',
 694.43]

In [26]:
# above is  the dataset of emp1 abhishek kumar. inside a list function

In [33]:
employee2list = ["Akshat mehta",2246,'R.O','Jamshedpur','Marketing',6.0,255000,'yes',708.33]

In [34]:
employee2list

['Akshat mehta',
 2246,
 'R.O',
 'Jamshedpur',
 'Marketing',
 6.0,
 255000,
 'yes',
 708.33]

In [35]:
# above is the dataset of emp2 Akshat mehta inside a list funtion

In [36]:
check = "type"

In [37]:
type(check)

str

In [38]:
type(employee2list)

list

In [40]:
# above shows the type of data structures is used to store the data of above  2employees.

In [52]:
totalsalary= [250000**2+300000+350000**2+400000**2+255000]

In [53]:
totalsalary

[345000555000]

In [56]:
type(totalsalary)

list

employee salary comparasions yearly

In [67]:
emp = 'Name of employee is here'

In [68]:
emp

'Name of employee is here'

In [69]:
salary = "yearly amt"

In [70]:
salary

'yearly amt'

In [71]:
empdata = emp+salary

In [72]:
empdata

'Name of employee is hereyearly amt'

In [73]:
type(empdata)

str

In [74]:
listofsalary = empdata

In [76]:
listofsalary #here in this  variable the whole salary data  will be stored()

'Name of employee is hereyearly amt'

In [82]:
# listofsalary
S1=250000
S2=250000
S3=350000
S4=300000
S5=400000
S6=250000
S7=255000
S8=400000
S9=350000

In [85]:
S1,S2,S3

(250000, 250000, 350000)

In [86]:
S1>=S2

True

In [87]:
S2<=S3

True

In [88]:
S3>S1>S2

False

In [89]:
S3==S2==S1

False

In [1]:
MAXVALUE= input("who have the highest amomg the three?,")

who have the highest amomg the three?,S1,S2,250000

In [2]:
MAXVALUE

'S1,S2,250000'

In [7]:
S1=250000
S2=250000
S3=350000
S4=300000
S5=400000
S6=250000
S7=255000
S8=400000
S9=350000

In [8]:
S4,S5,S6

(300000, 400000, 250000)

In [9]:
S4>S5

False

In [10]:
S4<=S5

True

In [11]:
S5==S6

False

In [12]:
S5>S6

True

In [14]:
S5<=S6

False

In [15]:
S4<=S5<=S6

False

In [16]:
S6>S4

False

In [3]:
high = input("which amt is maximum?")

which amt is maximum?S5,400000

In [4]:
high

'S5,400000'

In [6]:
S7=255000
S8=400000
S9=350000

In [7]:
S7,S8,S9 # comapring the 3rd  groups

(255000, 400000, 350000)

In [8]:
S7>S8

False

In [10]:
S7<S8

True

In [13]:
S7==S8

False

In [15]:
S7>=S8

False

In [16]:
S8<S9

False

In [17]:
S8==S9

False

In [18]:
S9>S8>=S7

False

In [19]:
high = input("The max value among the three is")

The max value among the three isS8,400000

In [20]:
high

'S8,400000'

HIGHEST AMONG THE WHOLE GROUP

In [2]:
S1=250000
S2=250000
S3=350000
S4=300000
S5=400000
S6=250000
S7=255000
S8=400000
S9=350000

In [4]:
S1==S2

True

In [5]:
S2

250000

In [6]:
250000

250000

In [7]:
S5>S8

False

In [8]:
S5==S8

True

In [12]:
S1=S2

In [13]:
S5=S8

In [14]:
S2<S8

True

In [15]:
# so highest salary  is of employee no 8

In [16]:
400000

400000

In [17]:
workingoffices = input("Enter the country name")

Enter the country nameIndia

In [18]:
workingoffices

'India'

In [19]:
workingstates = input("Enter the state name")

Enter the state nameJamshedpur,Delhi,Mumbai,Lucknow,Kolkata

In [20]:
workingstates

'Jamshedpur,Delhi,Mumbai,Lucknow,Kolkata'

In [23]:
HOcount = input("Enter The number of H.O-")

Enter The number of H.O-total of 4

In [24]:
HOcount

'total of 4'

In [25]:
ROcount = input("Enter the number of R.O")

Enter the number of R.Oonly 1

In [26]:
ROcount

'only 1'

In [27]:
DOcount = input("Enter the number of D.O")

Enter the number of D.Ototal of 4

In [28]:
DOcount

'total of 4'

In [29]:
DO = 4

In [31]:
DO

4

In [32]:
type(DO)

int

In [35]:
str(DO)

'4'

In [37]:
RO = 1

In [38]:
RO

1

In [39]:
HO = 4

In [40]:
HO

4

In [41]:
Totalinlets = DO+HO+RO

In [42]:
Totalinlets

9

In [45]:
InIndia = Totalinlets

In [46]:
InIndia

9

In [51]:

Tsalary = [250000+250000+350000+300000+400000+250000+255000+400000+350000]

In [52]:
Tsalary

[2805000]

In [53]:
Avgsalary = [2805000/9]

In [54]:
Avgsalary

[311666.6666666667]

In [61]:
AvgsalaryInd = [312000 ,'approx']

In [62]:
AvgsalaryInd

[312000, 'approx']