sql  python with command

In [1]:
import  sqlite3

In [2]:
con=sqlite3.connect(r'E:\sql_databse\students.db')

In [5]:
def sql_table(con):
    cur=con.cursor()
    cur.execute("CREATE TABLE kaksha (name varchar[65], age int, class priary key int)")
    con.commit()

In [6]:
con.commit;

In [7]:
def sql_insert(con,entities):
    cur=con.cursor()
    cur.execute(" INSERT INTO kaksha (name,age,class) values (?,?,?)", entities)
    con.commit()

In [8]:
con.commit;

In [9]:
entities=('abhi',25,2)

In [10]:
sql_table(con)
sql_insert(con,entities)
con.commit
print(cur.rowcount)

OperationalError: table kaksha already exists

In [12]:
results=con.execute("select*from kaksha")
results.fetchall()

[('abhi', 25, 2), ('abhi', 25, 2)]

In [29]:
entities=('kumar',29,3)
sql_insert(con,entities)

In [30]:
entities=('ram',30,5)
sql_insert(con,entities)

In [31]:
entities=('shyam',35,6)
sql_insert(con,entities)

In [32]:
results=con.execute("select*from kaksha")
results.fetchall()

[('abhi', 25, 2),
 ('abhi', 25, 2),
 ('kumar', 29, 3),
 ('ram', 30, 5),
 ('shyam', 35, 6)]

STARTING  SQL lite server s:E

In [17]:
import  sqlite3

db= sqlite3.connect('relations_database.db')

In [18]:
cur=db.cursor()       #  new   cursor  is  created here

In [5]:
cur.execute("create  table couples(name text, age int primary key, love text) ")

now inserting  data into  the  table couples

In [7]:
cur.execute("insert into  couples(name,age,love) values('xyz',25,'yes')")
db.commit()

In [8]:
#  creating  multiple  data   for  the  above  database  table  couple

In [9]:
cur.execute("insert into  couples(name,age,love) values('bbb',24,'yes')")
db.commit()

In [10]:
cur.execute("insert into  couples(name,age,love) values('xlz',35,'yes')")
db.commit()

In [14]:
results = cur .execute('select*from couples')
for  row in results:
    
    print(row)

('xyz', 25, 'yes')
('bbb', 24, 'yes')
('xlz', 35, 'yes')

In [21]:
cur.execute("insert into couples values('lll',20,'no'),('mnb',26,'yes')")
print(cur.rowcount,   "record(s) inserted")

2 record(s) inserted

In [24]:
#  creating  a  database  inside  a   folder 
db1 = sqlite3 .connect("E:\sql_databse\orginal_database.db")

In [25]:
cur1 = db1.cursor()

In [26]:
cur1.execute('create table website(name text, id int primary key, length int)')

In [28]:
cur1.execute ( 'insert  into website values('aaa', 2250,235), ('bbb' 2251,238), ('ccc', 2256,239), ('ddd', 2258,240)')
db.commit()

SyntaxError: invalid syntax (Temp/ipykernel_17324/2627223811.py, line 1)

refrential integrity

In [8]:
import sqlite3

In [9]:
db1 = sqlite3.connect('E:\sql_databse\phrameasy_database.db')

In [12]:
cur= db1.cursor()  #  cursor  is  created   here

In [13]:
cur.execute("create  table  orders(cosname text, batchid int Primary key, sellingyear int)")

In [17]:
cur.execute("create  table products(pname text, pprice int, batchid int, foreign key(batchid) references orders(batchid))")


#  here  we  have  created a  connection between  the  2  tables

OperationalError: table products already exists

In [18]:
cur.execute("insert into orders values('Alex',2250,2019), ('Ram',3201,2016), ('bob',5410,2017)")

In [19]:
cur.execute("insert into products values('chloride',2500,3201),('magnesium',6500,2017),('liq-hydrogen',2100,2016)")

In [20]:
results  = cur.execute('select*from orders')
results.fetchall()

[('Alex', 2250, 2019), ('Ram', 3201, 2016), ('bob', 5410, 2017)]

In [21]:
results= cur.execute('select*from products')
results.fetchall()

[('chloride', 2500, 3201),
 ('magnesium', 6500, 2017),
 ('liq-hydrogen', 2100, 2016)]

In [25]:
results = cur.execute("select cosname  from orders where sellingyear=2016")
results.fetchone()

('Ram',)

SUBQUERY

In [26]:
#  ITS  IS  PROCESS  OF  WRITING  A  QUERY  INSIDE  A QUERY  WHICH IS  KNOWN AS INQUERY AND OUT QUERY

In [29]:
results = cur.execute("select*from products  where  batchid=(select batchid  from orders where cosname='bob')")
results.fetchall()

[]

SQL  WITH PYTHON COMMANDS

In [30]:
import sqlite3

In [32]:
conn = sqlite3.connect(r'E:\sql_databse\apna_college.db')

In [33]:

def sql_table(conn):
    cur=conn.cursor()
    cur.execute("CREATE TABLE class(name  text, age int, rollid int primary key)")
    conn.commit   #  created a  table  named  as class

In [34]:

def sql_insert(conn,entities):
    cur=conn.cursor()
    cur.execute("INSERT INTO class(name,age,rollid), values(?,?,?)", entities)
    conn.commit

# inserted  some  values  into the  table  class

In [35]:

entities=('Abhi',24,12)

In [44]:
sql_table(conn)
sql_insert(conn ,entities)
conn.commit
print(cur.rowcount )

OperationalError: table class already exists

In [45]:
entities=('kiumar',25,10)
sql_insert(conn,entities)

OperationalError: near ",": syntax error