In [2]:
import  sqlite3

In [3]:
Sysdb=sqlite3.connect('flower_database.db')

In [4]:
cur= Sysdb.cursor()  #  here  we  have  created  a  cursor

In [5]:
cur.execute('create table species(name varchar(35) primary key, size int, types text)')  # here  we have  created  a  table

OperationalError: table species already exists

In [6]:
cur.execute('insert into species(name, size,types)  values("Versicolor", 25,2)')
db.commit()

IntegrityError: UNIQUE constraint failed: species.name

In [7]:
print(cur.rowcount, 'Record(s) inserted')  #   to check how  many  records  are  being   recorded    in  the  table

-1 Record(s) inserted

In [8]:




results =cur.execute('select*from species')
results.fetchall()

[('Versicolor', 25, '2'),
 ('varginica', 22, '3'),
 ('varonica', 21, '4'),
 ('mullina', 29, '5'),
 ('malina', 23, '2'),
 ('arenocia', 17, '5'),
 ('Arinama', 19, '5'),
 ('Sakima', 30, '2')]

In [9]:
# addding   more  Data   in to the  table 
cur.execute('insert into species values("varginica", 22,3)')
Sysdb.commit()

IntegrityError: UNIQUE constraint failed: species.name

In [10]:
results=cur.execute('select*from species')
results.fetchall()

[('Versicolor', 25, '2'),
 ('varginica', 22, '3'),
 ('varonica', 21, '4'),
 ('mullina', 29, '5'),
 ('malina', 23, '2'),
 ('arenocia', 17, '5'),
 ('Arinama', 19, '5'),
 ('Sakima', 30, '2')]

In [11]:
cur.execute('insert into species values ("varonica", 21,4)')
Sysdb.commit()

IntegrityError: UNIQUE constraint failed: species.name

In [12]:

cur.execute('insert into species values("mullina",29,5)')
Sysdb.commit()

IntegrityError: UNIQUE constraint failed: species.name

In [13]:
results= cur.execute('select*from species')
results.fetchall()

[('Versicolor', 25, '2'),
 ('varginica', 22, '3'),
 ('varonica', 21, '4'),
 ('mullina', 29, '5'),
 ('malina', 23, '2'),
 ('arenocia', 17, '5'),
 ('Arinama', 19, '5'),
 ('Sakima', 30, '2')]

In [14]:
#  so  above  we  have  a  database   known  as   flower   where   we  will  be   doing  the  further  operations

In [15]:
cur.execute('insert into species values("malina",23,2),("arenocia",17,5)')
Sysdb.commit()

IntegrityError: UNIQUE constraint failed: species.name

In [16]:
results= cur.execute('select*from species')
results.fetchall()   #  so  this  is  the  way  to add  multi;ple   records   from one   query

[('Versicolor', 25, '2'),
 ('varginica', 22, '3'),
 ('varonica', 21, '4'),
 ('mullina', 29, '5'),
 ('malina', 23, '2'),
 ('arenocia', 17, '5'),
 ('Arinama', 19, '5'),
 ('Sakima', 30, '2')]

In [17]:



cur.execute('insert into species values("Arinama",19,5),("Sakima",30,2)')
Sysdb.commit()

IntegrityError: UNIQUE constraint failed: species.name

In [18]:
results=cur.execute('select*from species')
results.fetchall()  #  so now we  have  inserted  many   data   inside   the  database  flowers

[('Versicolor', 25, '2'),
 ('varginica', 22, '3'),
 ('varonica', 21, '4'),
 ('mullina', 29, '5'),
 ('malina', 23, '2'),
 ('arenocia', 17, '5'),
 ('Arinama', 19, '5'),
 ('Sakima', 30, '2')]

NOW  CREATING THE  ABOVE  DATABASE  INSIDE  A FOLDER

In [19]:
import sqlite3

In [20]:


db1= sqlite3.connect(r"E:\mydatabase\flowersdb.db")

In [21]:
cur1 = db1.cursor()

In [22]:




cur1.execute('create  table flwnames(Name varchar(30) primary key, size  int, shape int, numers int)')

OperationalError: table flwnames already exists

In [23]:
cur1.execute('insert into  flwnames(Name,size,shape,numers)  values("Versicolour",25,2,1)')
db1.commit()

IntegrityError: UNIQUE constraint failed: flwnames.Name

In [24]:



results= cur1.execute('select*from flwnames')
results.fetchall()

[('Versicolour', 25, 2, 1), ('romania', 28, 2, 5), ('chiranana', 30, 3, 5)]

In [25]:
cur1 .execute('insert into flwnames values("romania",28,2,5), ("chiranana",30,3,5)')
db1.commit()

IntegrityError: UNIQUE constraint failed: flwnames.Name

In [26]:

results = cur1.execute('select*from flwnames')
results.fetchall()

[('Versicolour', 25, 2, 1), ('romania', 28, 2, 5), ('chiranana', 30, 3, 5)]

ACCESSISNG  ELEMENTS  INSIDE  THE  SQLITE3

In [27]:
results =cur1.execute('select Name,size from flwnames')
results.fetchall()   #  so it  showed   me  only  2  things  which i  said

[('Versicolour', 25), ('romania', 28), ('chiranana', 30)]

In [28]:
results = cur1.execute('select*from flwnames  where size=25')
for i in results:
    print(i)

('Versicolour', 25, 2, 1)

In [29]:

results = cur1.execute('select*from flwnames limit 2')
for i in results:
    print(i)  # limit  will show  the  limited data  which  is  will be  inserted   in  the  code

('Versicolour', 25, 2, 1)
('romania', 28, 2, 5)

ORDER CLAUSE

In [30]:
results =cur1.execute('select*from flwnames order  by name asc')
results.fetchall()

[('Versicolour', 25, 2, 1), ('chiranana', 30, 3, 5), ('romania', 28, 2, 5)]

In [31]:
results = cur1.execute('select*from flwnames order by size asc')
for i in results:
    print(i)

('Versicolour', 25, 2, 1)
('romania', 28, 2, 5)
('chiranana', 30, 3, 5)

In [32]:


results =cur1.execute('select*from flwnames order  by name desc')
results.fetchall()

[('romania', 28, 2, 5), ('chiranana', 30, 3, 5), ('Versicolour', 25, 2, 1)]

AND  OPERATOR IN SQL

In [34]:
results =cur1.execute('select*from flwnames  where Name="romania" and  size =28')
results.fetchall()

[('romania', 28, 2, 5)]

In [37]:
results = cur1.execute('select*from flwnames  where Name="chiranana"and  size=30')
results.fetchall()

[('chiranana', 30, 3, 5)]

OR OPERATOR

In [41]:
results = cur1.execute('select*from flwnames where Name="Versicolour" or  size=28')
results.fetchone()

('Versicolour', 25, 2, 1)

In [44]:
results = cur1.execute('select*from flwnames where Name="romania" or  size =20')
results.fetchone()

('romania', 28, 2, 5)

BETWEEN OPERATORS

In [46]:
results =cur1.execute('select*from flwnames where size between 26 and 30')
for i in  results:
    print(i)

('romania', 28, 2, 5)
('chiranana', 30, 3, 5)

AGGREGRATE  FUNCTIONS

In [47]:
results =cur1.execute('select max(size) from flwnames')
results.fetchall()

[(30,)]

In [48]:
results =cur1.execute('select min(size) from flwnames')
results.fetchall()

[(25,)]

In [49]:
results =cur1.execute('select avg(size) from flwnames')
results.fetchall()

[(27.666666666666668,)]

In [50]:
results =cur1.execute('select count(shape) from flwnames')
results.fetchall()

[(3,)]

In [51]:
results =cur1.execute('select sum(size) from flwnames')
results.fetchall()

[(83,)]

NULL  AND NOT NULL FUNCTIONS

In [52]:
results  = cur1.execute('select*from flwnames  where size is null')
results.fetchall()

[]

In [53]:
results  = cur1.execute('select*from flwnames  where size is not null')
results.fetchall()

[('Versicolour', 25, 2, 1), ('romania', 28, 2, 5), ('chiranana', 30, 3, 5)]

LIKE  OPERATORS 

In case  if i want to see something  very specific  like  the  1st  alphabhet 
we use  the  Like  operator   there

In [56]:
results = cur1.execute ("select*from flwnames  where Name like 'V%'")
results.fetchone()  #  this is  used  to see  the  first  alphabhet  starting   with  this  v

('Versicolour', 25, 2, 1)

Refrential  integrity

In [1]:
#  connecting   two  different  database  with  the   help   of  primary  key and   the   foreign  key  is  called  refrential integrity
import sqlite3

In [5]:
db = sqlite3.connect(r"E:\MySqlite3\System_database.db")

In [6]:
cur= db.cursor()

In [17]:
cur.execute("create  table software('Name varchar(30) primary key,date int, size int')")

OperationalError: table software already exists

In [18]:
cur.execute('create table hardware(Name varchar(30), design text,foreign key (Name) references software(Name))')
            
    # so here  we  have  cretaed  a foreign key  with the  help   of the  above  table  primary  key

OperationalError: table hardware already exists

In [19]:
cur.execute('insert into software values("vscode",2020,28),("adobe-ps",2022,30),("premier-pro",2021,90), ("Git",2022,100)')

OperationalError: table software has 1 columns but 3 values were supplied

In [25]:

data=cur.execute('''SELECT * FROM  software''')
for column in data.description:
    print(column[0])

Name varchar(30) primary key,date int, size int